.main {
  display: grid;
  place-items: center;
  height: 100vh;
  position: relative;
  background: linear-gradient(to right, #61aaea 0%, #97f0f57e 100%);
  transition: background 0.5s ease;

}

.dark {
  background: radial-gradient(circle at center, #333333 0%, #000000 100%);
}

.theme {
  position: absolute;
  top: 2rem;
  left: 2rem;
  height: 3rem;
  width: 3rem;
  border: 2px solid #514d4d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.toggle {
  position: absolute;
  /* width: 40px;
 height: 40px; */
  color: #8c5ddcd9;
  cursor: pointer;
  top: 2rem;
  right: 2.5rem;
  font-size: 1.3rem;
}

.loginBtn {
  all: unset;
  color: #8c5ddc;
}

.loginBtn:hover {
  border-bottom: 2px solid #8c5ddc;
}