.toggle {
    position: absolute;
    /* width: 40px;
 height: 40px; */
    color: #8c5ddcd9;
    cursor: pointer;
    top: 2rem;
    right: 2.5rem;
    font-size: 1.3rem;
}

.loginBtn {
    all: unset;
    color: #8c5ddc;
}

.loginBtn:hover {
    border-bottom: 2px solid #8c5ddc;
}

.iconBtn {
    all: unset;
    position: absolute;
    cursor: pointer;
    top: 2rem;
    right: 4.5rem;
    color: #8c5ddc;
    ;
}

.icon {
    width: 35px;
    height: 35px;
}