.main {
  display: grid;
  place-items: center;
  height: 100vh;
  position: relative;
  background: linear-gradient(to right, #61aaea 0%, #97f0f57e 100%);
  transition: background 0.5s ease;

}

.dark {
  background: radial-gradient(circle at center, #333333 0%, #000000 100%);
}

.theme {
  position: absolute;
  top: 2rem;
  left: 2rem;
  height: 3rem;
  width: 3rem;
  border: 2px solid #514d4d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}