.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
  width: min(40rem);
  padding: 1.2rem;
  max-height: 25rem;
}

.joke {
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
  padding: 3rem 1.5rem;
  max-width: 35rem;
  min-width: 35rem;
  min-height: 5rem;
  text-align: center;
  line-height: 1.6;
  border-radius: 0.5rem;
  color: #514d4d;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.15);
}


.dark {
  color: #fff;
  background: #302f2f82;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.35);
}

.btn {
  all: unset;
  padding: 0.7rem 1.6rem;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: #fff;
  border: none;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.18);
  margin-top: 1rem;
}
