.joke {
  font-size: 1.5rem;
  font-style: normal;
  padding: 3rem 1.5rem;
  text-align: center;
  line-height: 1.6;
  border-radius: 0.5rem;
  color: #514d4d;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.15);
}


.dark {
  color: #fff;
  background: #05050582;
  box-shadow: 0 0 15px rgba(82, 81, 81, 0.35);
}

@media (min-width: 680px) {
  .joke {
    max-width: 35rem;
    min-width: 35rem;
    min-height: 5rem;
  }
}