.wrapper {
  display: flex;
  cursor: pointer;
  font-size: 2rem;
  user-select: none;
}

.star {
  position: relative;
  color: #ccc;
}

.full {
  color: gold;
}

.half {
  background: linear-gradient(90deg, gold 50%, #ccc 50%);
  -webkit-background-clip: text;
  color: transparent;
}

.empty {
  color: #ccc;
}
